<% unless current_user.nil?  %>
<section class="create-faq">
  <%= link_to "Create a new FAQ", new_faq_path, class: "create-action-button" %>
</section>
<% end %>

<section class="participants-intro">
  <h1>Participants</h1>
  <div class="intro-copy">
    <%= t(".participants-introduction").html_safe %>
  </div>
</section>

<section class="faqs">
  <h1>FAQs</h1>
  <ul class="faqs-list">
    <%= render partial: 'shared/faqs', collection: @faqs %>
  </ul>
</section>