@mixin flash($color) {
  position: absolute;
  width: 100%;
  display: block;
  background: lighten($color, 40);
  color: $color;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: bold;

  padding: $base-line-height / 2;

  a:hover {
    text-decoration: underline;
  }
}
