@mixin standard-padding {
  padding: 2em 1em;
}

@mixin standard-button($color, $other-color) {
  font-family: 'Anonymous Pro', sans-serif;
  display: inline-block;
  
  font-weight: bold;
  color: $color;
  border: 2px solid $color;

  &:hover {
    background: $color;
    color: $other-color;
  }
}

@mixin large-button($color, $other-color) {
  @include standard-button($color, $other-color);
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

@mixin small-button($color, $other-color) {
  @include standard-button($color, $other-color);
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

@mixin events {
  .google-link {
    font-size: 0.8em;
    padding-left: 1em;
    font-weight: 300;
    text-decoration: underline;
  }
}

@mixin action-buttons-list($color, $other-color) {
  margin-top: 1em;
  li {
    display: inline-block;
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
    a {
       @include small-button($color, $other-color);
    }
  }
}

@mixin intro {
  @include standard-padding;
  background: $light-blue;
  h1 {
    color: white;
    text-align: center;
  }

  .intro-copy {
    padding-top: 2em;
    @include outer-container();
    @include media($large-screen) {
      @include prefixer(column-count, 2, webkit moz spec);
      @include prefixer(column-gap, 5em, webkit moz spec);
    }
    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2em;
      margin: 0;
      margin-bottom: 1em;
    }
  }
}

@mixin standard-list {
  @include outer-container;
  padding: 2em 0;
  > li {
    @include row();
    padding: 2em 0;
    border-bottom: 1px solid transparentize($dark-blue, 0.8);
    text-align: center;
    &:last-child {
      border: none;
    }
  }
}