section.next-event {
  @include standard-padding;
  @include events;
  background: $light-blue;

  h1 {
    text-align:center;
    color: white;
  }

  .event-date {
    margin-bottom: 0.5em;
  }

  .event-venue {
    margin-bottom: 0.7em;
  }

  p {
    font-family: 'Anonymous Pro', sans-serif;
  }

  .google-link {
    color: white;
  }

  .next-event-wrapper {
    margin-top: 2em;
    @include outer-container();
  }

  .next-event-details {
    text-align: center;
    @include media($large-screen) {
      @include span-columns(8);
      text-align: left;
    }
  }

  .signup-action-button {
    margin-top: 1em;
    @include media($mobile) {
      margin-bottom: 2em;
    }
    @include large-button($dark-blue, $light-blue);
  }

  .next-event-action-buttons-list {
    @include action-buttons-list($dark-blue, $light-blue);
  }

  #next-event-map {
    height: 20em;
    border: 2px solid white;
  }
}