<li class="faq">
  <h3><%= faqs.title %></h3>
  <p><%= faqs.content %></p>
  <% unless current_user.nil? %>
    <ul class="faqs-action-buttons-list">
      <li><%= link_to 'Edit', edit_faq_path(faqs) %></li>
      <li><%= link_to 'Destroy', faqs, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
</li>