<div class="intro-wrapper">
  <section class="intro">
    <div class="main-logo">
      <%= image_tag "coderdojo_logo.svg", class: "main-logo" %>
    </div>
    <div class="strapline">
      <h1><%= t('.strapline') %></h1>
    </div>
  </section>
</div>
