<% unless current_user.nil?  %>
<section class="create-event">
  <div class="content">
    <%= link_to "Create a new event", new_event_path, class: "create-action-button" %>
  </div>
</section>
<% end %>

<%= render partial: 'shared/next_event', object: @next_event %>

<section class="previous-events">
  <h1><%= t '.previous-events-title' %></h1>
  <ul class="previous-events-list">
    <%= render partial: 'shared/previous_events', collection: @previous_events %>
  </ul>
</section>