<%= render "shared/create_resource" %>

<section class="resources-intro">
  <h1>Resources</h1>
  <div class="intro-copy">
    <%= t(".resource-introduction").html_safe %>
  </div>
</section>

<section class="resources-full-list">
  <h1>Scratch</h1>
  <ul class="resources-list">
    <%= render partial: 'shared/resources', collection: @scratch_resources %>
  </ul>
</section>

<section class="resources-full-list">
  <h1>Web Development</h1>
  <ul class="resources-list">
    <%= render partial: 'shared/resources', collection: @web_resources %>
  </ul>
</section>