<%= render "shared/create_resource" %>

<section class="resources-full-list">
  <h1>Scratch</h1>
  <ul class="resources-list">
    <%= render partial: 'shared/resources', collection: @resources %>
  </ul>
</section>
