//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require leaflet
 */

$light-blue: #00AFF1;
$dark-blue: #00324B;
$red: #F7391A;

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Montserrat:400,700|Open+Sans:400,700,300);

@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

@import 'home';
@import 'events';

@import 'navigation';

body {
  margin: 0;
}

.main-content {
  padding-top: 100px;
}

.action-button {
  margin-top: 1em;
  margin-right: 1em;
  display: inline-block;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid $light-blue;

  &:hover {
    background: $light-blue;
    color: white;
  }
}

.create-action-button {
  display: inline-block;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid white;

  &:hover {
    background: white;
    color: $red;
  }
}

.signup-action-button {
  margin-top: 1em;
  display: inline-block;
  font-family: 'Anonymous Pro', sans-serif;
  font-weight: bold;
  color: $dark-blue;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 2px solid $dark-blue;

  &:hover {
    background: $dark-blue;
    color: $light-blue;
  }
}

#map {
  height: 400px;
}