// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.create-event {
  @include standard-padding;
  background: $red;
  text-align: center;

  .create-action-button {

    @include large-button(white, $red);
  }
}

section.editing-events {
  padding-top: 2em;
  h1 {
    text-align: center;
  }
  .content {
    @include outer-container();
    select {
      display: inline-block;
    }
  }
}