// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.contact {
  @include standard-padding;
  
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .contact-list {
    @include standard-list;

    .icon {
      font-family: 'Montserrat', sans-serif;
      line-height: 100px;
      vertical-align: top;
      font-size: 2em;
      font-weight: bold;

      &:before {
        content: '';
        display: inline-block;
        height: 100px;
        width: 120px;
      }
    }

    .icon.email:before {
      background: image-url("email_icon.svg") 0 0 no-repeat;
    }
    .icon.twitter:before {
      background: image-url("twitter_icon.svg") 0 0 no-repeat;
    }

    @include media($mobile) {
      .icon:before {
        display: none;
      }
    }

  }
}

.intro {
  @include outer-container();
  text-align: center;
  padding: 4em 0;
  @include display(flex);
  @include align-items(center);

  .main-logo {
    display: none;
    @include media($large-screen) {
      display: inline;
      @include span-columns(3);
      img {
        padding: 1em;
        width: 100%;
      }
    }
  }

  .strapline {
    h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    line-height: 1.2em;
    text-shadow: 0 0 10px $dark-blue;
    }

    @include media($large-screen) {
      @include span-columns(9);
      @include omega();
    }

  }
}

.intro-wrapper {
  background: image-url("coderdojo_eagle_view.jpg");
  background-size: cover;
}

.mentor-signup {
  border-top: 1px solid $dark-blue;
  border-bottom: 1px solid $dark-blue;
  background: white;
  @include standard-padding;
  text-align: center;
  p {
    color: $red;
    margin-bottom: 0;
    font-size: 1.5em;
  }
  a {
    margin-left: 1em;
    @include media($mobile) {
      margin-top: 1em;
      display: block;
      margin-left: 0;
    }
    
    color: white;
    background: $red;
    border-radius: 0.5em;
    padding: 0.5em 1em;
  }
}